@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color:#004b7d;
    
    --background-color:#092a41;
    
    --white-color:#fff;

    /* --heading-color:; */
    
    /* --text-color:; */

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Outfit', sans-serif;
    color: #333;
    font-size: 1.8rem;
    line-height: 1.6rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.bg-header{
    background-color: var(--background-color);
}

nav{
    height: 9rem;
}

.navbar-brand{
    font-size: 3rem;
}

.nav-link {
color: #fff;
}

.nav-link:link, .nav:visited{
    color: #c5c5c5;
    font-size: 1.8 rem;
    font-weight: 400;
    display: inline-block;
}

.nav-link:hover, .nav-link:active{
    color: var(--white-color);
}

.nav-link.cta{
    background-color: #fff;
    color: #000000;
    display: inline-block;
    padding: 0.5rem 4rem;
    border-radius: 4px;
}

.nav-link.cta:hover {
    background-color: #c5c5c5;
    color: #000000;
}

h1 {
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 1.2;
}

h2{
    font-size: 4.4rem;
    line-height: 1.3;
}

.hero-section {
    padding: 5rem 0;
}

nav, p {
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0.3px;
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 24px;
    font-size: 1.8rem;
    border-radius: 4px;
}

.hero-img {
    width: 400px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.6rem;
    color: #777;
}

.testimonials {
    padding: 5rem 0;
    background-color: var(--background-color);
}

.testimonial-text, .testimonial-name {
    color: #cecece;
}

.testimonial-card{
    width: 50%;
}